@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

ul li{
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

#switchButton .fa-sun {
    display: none;
    color: #fff;
  }

 #switchButton .fa-moon {
    display: block;
  }

/* drak */



.dark .header.active{
    background-color: black;
}

.dark#myBody{
    background-color:white;
  }

  .dark .header.active .navbar-brand .logo--text{
    color: #fff;
  }

  .dark .header.active .collapse .navbar-nav .nav-item a{
    color: #fff;
  }

  .dark .header .collapse .navbar-nav .nav-item .dropdown-menu{
    background-color: #000;
    border: 1px solid rgb(163, 162, 162);
  }

  .dark .header .collapse .navbar-nav .nav-item .dropdown-menu a{
    color: #fff;
  }

  .dark .header .collapse .navbar-nav .nav-item .dropdown-menu::before{
    background-color: #000;
    border-top: 1px solid rgb(163, 162, 162);
    border-left: 1px solid rgb(163, 162, 162);
  }

  .dark #switchButton .fa-sun {
    display: block;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }




/* header */
.header{
    position: absolute;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.header.active{
    background-color: rgb(252, 252, 252);
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header.active .collapse .navbar-nav .nav-item a{
    color: #000;
}

.header.active .navbar-brand .logo--text{
    color: #3f3a64;
}

.header.active .collapse .navbar-nav .nav-item #home{
    color: #009f4d;
}

.header .navbar-brand span i{
    font-size: 30px;
    vertical-align: bottom;
    transform: translateY(8px);
    margin-right: 5px;
    color: #009f4d;
}

.header .navbar-brand .logo--text{
    color: #FFFFFF;
}

.header .navbar-brand .logo--text p{
    font-size: 14px;
    font-weight: 700;
}

.header .collapse .navbar-nav .nav-item a{
    color: #fff;
}

.header .collapse .navbar-nav .nav-color{
    opacity: 0.7;
    transition: all 0.5s;
}

.header .collapse .navbar-nav .nav-color:hover{
    opacity: 1;
}

.header .collapse .navbar-nav .nav-item .dropdown-menu a{
    color: #3f3a64;
    font-weight: 600;
    opacity: 0.7;
    transition: all 0.5s;
}

.header .collapse .navbar-nav .nav-item .dropdown-menu a:hover{
    opacity: 1;
}

.header .collapse .navbar-nav .nav-item .dropdown-menu{
    transform: translateX(-40px);
}

.header .collapse .navbar-nav .nav-item .dropdown-menu::before{
    content: "";
    width: 17px;
    height: 17px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header .header__search i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #009f4d;
    border-radius: 50%;
    color: #fff;
    z-index: 20 !important;
    cursor: pointer;
}

.align-items-center{
    z-index: 1;
}

.header .drarkandlight{
    font-size: 25px;
    cursor: pointer;
}

.header.active .drarkandlight{
    color: #000;
}


.header .search--reponsive{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009f4d;
    transform: scale(0);
    transition: all 0.5s;
}

.header .search--reponsive.active{
    transform: scale(1);
}

.header .search--reponsive i{
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    transition: all 0.3s ease-in-out;
    right: 200px;
    top: 50px;
}

.header .search--reponsive .input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 54px;
    width: 100%;
    padding: 0 100px;
    color: #fff;
}

.header .search--reponsive .input input{
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}


/* banner */

.banner{
    height: 100vh;
    position: relative;
}

.banner__container{
    position: relative;
}

.banner .banner__container img{
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
    height: 100vh;
    object-fit: cover;
}

.banner .banner__container::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(29 42 55 / 70%);
    z-index: 0;
}

.dark .banner .banner__container::before{
    background-color: rgba(18, 25, 32, 0.8);
}

.banner .banner__content{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.banner .banner__content h2{
    font-size: 65px;
    max-width: 800px;
}

.banner .banner__content p{
    font-size: 20px;
    color: #DEE0E2;
    max-width: 800px;
}

.banner .slick-slider .slick-arrow{
    height: 50px;
    width: 50px;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.dark .banner .slick-slider .slick-arrow{
    background-color: #000;
    border: 1px solid rgb(68, 67, 67);
}


.slick-prev{
    left: 90%;
}

.slick-next{
    left: 95%;
}

.slick-prev::before, .slick-next::before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-align: center;
    color: var(--heading-color);
}

.banner .slick-prev:before{
    content: "\f060";
}

.banner .slick-next:before{
    content: "\f061";
}

.slick-prev, .slick-next{
    top: 100%;
    z-index: 10;
}

.banner .slick-prev::before, .banner .slick-next::before {
    color: #000;
    font-size: 18px;
}

.dark .banner .slick-prev::before, .dark .banner .slick-next::before{
    color: #fff;
}

/* shape */

.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.shape path{
    fill: #FFF;
}

.dark .shape path{
    fill: #151421;
}
/* about */

.dark .about {
    background-color: #151421;
}

.style--span{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.style--h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3F3A64;
}

.dark .style--h2{
    color: #fff;
}

.style--p{
    color: #666;
    font-size: 18px;
}

.about .about__content ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.about .about__content ul li i{
    margin-right: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    background-color: #009f4d;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.about .about__content ul li{
    margin-bottom: 15px;
}

.about .about__content ul li span{
    color: #3f3a64;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
}

.dark .about .about__content ul li span{
    color: #fff;
}

.about .row img{
    display: block;
    width: 100%;
}


.about .row .image1 img {
    margin-top: 20px;
}

/* Vision */

.vision{
    background-color: #F7F7F7;
}

.dark .vision{
    background-color: #100F19;
}

.vision .vision--item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.vision .item{
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

.dark .vision .item{
    background-color: #151421;
}

.vision .item:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vision .item img{
    width: 65px;
    display: block;
}

.vision .item h4 a{
    text-decoration: none;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    transition: all 0.5s
}

.vision .item h4 a:hover{
    color: #009f4d;
}

.dark .vision .item h4 a{
    color: #fff;
}

.vision .vision__content .row{
    align-items: center;
}

/* services */

.dark .services {
    background-color: #151421;
}

.services .row{
    justify-content: center;
}

.services .item{
    text-align: center;
}



.services .item .image{
    position: relative;
    width: 100%;
    height: 100%;
}

.services .item--name{
    padding: 12px 35px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: inline;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: max-content;
}

.dark .services .item--name{
    background-color: #151421;
}

.services .item--name p{
    margin: 0;
    font-size: 19px;
    color: #3f3a64;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.dark .services .item--name p{
    color: #fff;
}

.services .item--name p:hover{
    color: #008030;
}

.services .item .image img{
    display: block;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.services .item--text{
    padding: 50px 20px 20px 20px;
}

.services .item--text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3f3a64;
    transition: all 0.4s;
}

.services .item--text a:hover{
    color: #009f4d;
}

.dark .services .item--text a{
    color: #fff;
}

.gallery{
    padding: 48px 0px;
    background-color: #F8F9FA;
}

.dark .gallery{
    background-color: #100F19;
}

.title-small{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #7e7d7d;
    letter-spacing: 1px;
}

.title-big{
    font-size: 35px;
}

.dark .title-big{
    color: #fff;
}

.gallery .gallery__img img{
    width: 100%;
}

.dark .gallery h2{
    color: #fff;
}


.gallery .card{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border: none;
}


.gallery .card:hover img{
    transform: scale(1.1);
    transition: all 0.5s;
    
}

.gallery .hover--background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(29 42 55 / 70%);
    opacity: 0;
    transition: all 0.5s;
    display: block;
}

.gallery .card:hover .hover--background{
    opacity: 1;
}


.gallery .card-body{
    position: absolute;
    bottom: 0;
    padding: 40px;
    transform: translateY(200px);
    color: #fff;
    transition: all 0.5s;
}

.gallery .card:hover .card-body{
    transform: translateY(0px)
}

.lb-data .lb-caption{
    font-size: 18px;
    display: block !important;
    margin: 20px 0;
}

.lb-data .lb-number{
    color: #009f4d;
    font-size: 1em;
}

.gallery .gellary__logo img{
    width: 100%;
    display: block;
}

.gallery .gellary__logo{
    border-top: 1px solid #eee;
}

/* end gellary */

.progress{
    display:flex;
    text-align: center;
    height: 5px;
}

.dark .results {
    background-color: #151421;
}

.results .progress--name{
    position: relative;
}

.dark .progress--name p{
    color: #fff;
}


.results .progress .bg-success{
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.results .progress .bg-info{
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.results .progress .bg-warning{
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.results .progress .bg-danger{
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.results .progress .progress-bar::after{
    content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid;
    position: absolute;
    background-color:#fff;
    transform: translate(-50%, -50%);
    top: 95%;
}

.results .progress .progress-bar::before{
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 95%;
    opacity: 0.3;
}

.results .progress .bg-success::after, .results .progress .bg-success::before{
    left: 80%;
}

.results .progress .bg-info::after, .results .progress .bg-info::before{
    left: 95%;
}

.results .progress .bg-warning::after, .results .progress .bg-warning::before{
    left: 60%;
}

.results .progress .bg-danger::after, .results .progress .bg-danger::before{
    left: 85%;
}

.testimonials .testimonials__item p{
    font-size: 18px;
    color: #666;
    opacity: 0.8;
}

.dark .testimonials .testimonials__item p{
    color: #c2c2c2;
}


/* testimonials */

.testimonials{
    padding: 70px 0;
    background-color: #F8F9FA;
}

.dark .testimonials{
    background-color: #100F19;
}

.testimonials .testimonials__item{
    margin: 70px 0;
}

.testimonials .testimonials__author{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .testimonials__image{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonials .testimonials__image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
}

.testimonials .testimonials__infor{
    text-align: left;
}

.testimonials .testimonials__infor h4{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.dark .testimonials .testimonials__infor h4{
    color: #fff;
}

.testimonials .testimonials__infor p{
    margin: 0;
}

.slick-dots li button:before{
    font-size: 12px;
}

.slick-dots li.slick-active button:before{
    font-size: 18px;
}

.slick-dots{
    bottom: 0px;
}

.dark .slick-dots li button:before{
    color: #213364;
}

/* blogs */

.blogs{
    padding: 70px 0;
}

.dark .blogs{
    background-color: #151421;
}

.blogs .blogs__card{
    width: 100%;
}

.dark .card{
    background-color: #151421;
}

.blogs .card__overs{
    overflow: hidden;
}

.blogs .card__overs img{
    width: 100%;
    transition: all 0.5s;
}

.blogs .blogs__card .card img:hover{
    transform: scale(1.1);
}

.card{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark .card{
    box-shadow: none;
}

.blogs .card-title a{
    font-weight: 400;
    font-size: 17px;
    color: #999;
}

.dark .blogs .card-body{
    border: 1px solid #3f3f3f;
}

.blogs .card-body h2 a{
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    transition: all 0.5s;
}

.dark .blogs .card-body h2 a{
    color: #fff;
}

.blogs .card-footer span{
    color: #A3A3A3;
    font-weight: 600;
}

.blogs .card-footer span a{
    color: #000;
    font-weight: 600;
    transition: all 0.5s; 
}

.dark .blogs .card-footer span a{
    color: #fff;
}

.blogs .hover-text:hover{
    color: #009f4d;
}

.blogs .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.25rem;
    border-top: 1px solid #eee;
}

.blogs .card-date p{
    margin: 0;
}

.dark .blogs .card-date p{
    color: rgb(102, 102, 102);
}

.dark .blogs .card-footer{
    border: 1px solid #3f3f3f;
    border-top: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dark .blogs .card-footer .card-image img{
    border-radius: 50%;
}



/* subscribe */

.subscribe {
    background: url(./img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 2;
    background-color: #151421;
    color: #fff;
}

.subscribe .subscribe__content{
    max-width: 60%;
    margin: 0 auto;
}


.blogs .subscribe{
    background: url(./img/map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe  .subscribe__email{
    align-items: center;
}

.subscribe  .subscribe__email i{
    height: 60px;
    padding: 0 20px ;
    line-height:60px;
    border: 1px solid rgb(255 255 255 / 15%);
    border-right: none;
}

.subscribe  .subscribe__email input{
    height: 60px;
    width: 50%;
    background-color: rgb(0 0 0 / 20%);
    outline: none;
    border: 1px solid rgb(255 255 255 / 15%);
    padding: 0 25px;
}

.subscribe  .subscribe__email button{
    border: 1px solid rgb(255 255 255 / 15%);
    background-color: rgb(0 0 0 / 20%);
    color: #fff;
    height: 60px;
    background-color: #009f4d;
    padding: 0 25px;
    font-weight: 600;
    transition: all 0.5s;
    outline: none;
}

.subscribe  .subscribe__email button:hover{
    background-color: #008030;
}

/* footer */

.footer{
    background-color: #151421;
    border-top: 1px solid rgb(255 255 255 / 15%);
    border-bottom: 1px solid rgb(255 255 255 / 15%);
}

.footer .footer__logo i{
    font-size: 30px;
    color: var(--primary-color);
    margin-right: 10px;
    color: #009f4d;
    font-weight: 700;
}

.footer .footer__icon i{
    margin-right: 15px;
    color: #97a1a9;
    transition: all 0.5s;
}

.footer .footer__icon i:hover{
    color: #fff;
}

.footer .footer__logo a{
    color: #fff;
}

.footer .footer__logo a p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.footer .row p a{
    color: #97a1a9;
    transition: all 0.5s;
}

.footer .row p a:hover{
    color: #fff;
}

.footer .row p{
    color: #97a1a9;
    font-size: 17px;
}

.footer .row h3{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* copuright */
.copyright{
    padding: 20px 0;
    background-color: #151421;
    color: #97a1a9;
}
.copyright p{
    text-align: center;
    margin: 0;
}

/* scroll */

.scrollTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

.scrollTop span{
    height: 60px;
    width: 60px;
    line-height:60px;
    text-align: center;
    background-color: #009f4d;
    color: #fff;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}