.banner .banner__content h2{
    font-size: 32px;
}

.banner .banner__content p{
    margin: 20px 0px !important;
}

.slick-prev{
    left: 65%;
}

.slick-next{
    left: 80%;
}

.logo--text h2{
    font-size: 18px;
}

.header .header__search{
    right: 120px;
    top: 10px
}

.header .drarkandlight{
    right: 100px;
    top: 18px;
}

.header .search--reponsive .input{
    font-size: 35px;
}

.subscribe .subscribe__content{
    max-width: 100%;
}

.vision .item h4 a{
    font-size: 17px;
}