.banner{
    height: 60vh;
}

.banner .banner__content{
    padding-right: 0;
}

.banner .banner__content h2{
    font-size: 50px;
}

.banner .banner__container img{
    height: 60vh;
}

.slick-prev{
    left: 75%;
}

.slick-next{
    left: 85%;
}

.slick-prev, .slick-next{
    top: 85%;
}

#navbarSupportedContent{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: -12;
    padding: 70px 0px;
}

.header .collapse .navbar-nav .nav-item .dropdown-menu{
    transform: translateX(0px); 
    width: 300px;
    margin: 0 auto;
}

/* .header .header__search, .header .drarkandlight{
    display: none;
} */

.navbar-light .navbar-toggler{
    z-index: 23;
    
}

.navbar-light .navbar-toggler-icon{
    background-image: none;
}

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

.header span .fa-bars{
    font-size: 12px;
    background-color: #00a63f;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    order: 1;
    border-radius: 10px;
}

.header .header__search{
    position: absolute;
    right: 150px;
    top: 18px
}

.header .drarkandlight{
    position: absolute;
    right: 120px;
    top: 27px;
}

.header .search--reponsive i{
    right: 70px;
    top: 100px;
}

.vision .vision__title{
    margin-bottom: 40px;
}


.subscribe .subscribe__content{
    max-width: 100%;
    margin: 0 auto;
}

.margin--responsive{
    margin-top: 30px;
}